
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #080d10, #000000); 
}


.user-details {
  position: relative;
  max-width: 600px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 32px;
  color: #080404; 
}


.edit-profile {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #0284c7; 
  font-size: 14px;
  padding: 4px 8px;
  text-decoration: none;
}


.welcome-message {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}


.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}


.user-avatar {
  border-radius: 50%;
  width: 128px;
  height: 128px;
}

.user-email {
  font-size: 18px;
}
